body {
    background: #233142;
}
header {
    max-width: 2000px;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("images/cat1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 60px 0;
  }
  header h1 {
    color: white;
  }

  header h3 {
    text-align: center;
    color: white;
    text-transform: uppercase;
  }

  header p {
    color: white;
    margin-bottom: 30px;
  }

  header button {
    padding: 8px 15px;
    border-radius: 4px;
    border: none;
  }

  .boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    grid-gap: 20px;
  }

  .box {
    background-color: white;
    text-align: center;
    color: black;
    font-size: 24px;
    border-radius: 8px;
    padding: 20px;
}

footer {
    width: 100vw;
    height: 200px;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(
        rgba(235, 217, 217, 0.5),
        rgba(202, 186, 186, 0.5)
    ), url("images/cat2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


  footer p {
    color: white;
    text-align: center;
  } 

 @media (max-width: 800px) {
    header {
      padding: 30px 0;
    }
    
    header h1 {
      font-size: 20px;
    }
    .boxes {
        grid-template-columns: 1fr;
        grid-gap: 10px;
      }

      .box {
        background: white;
      }
    footer{
        padding: 30px 0;
    }
    footer p{
        font-size: 20px;
    }
  }
